<section class="searchProduct">

  <div class="searchProductA">

    <div class="searchClothA">
      <a routerLink="/HomePage"><h2 class="searchClothA1" >Home</h2></a>
    </div>

    <div class="searchProductB" *ngFor="let key of allSearchedProduct" (click)="productInformation(key.productId)">

      <div class="searchProductB1">
        <img src={{key.productImagePath}} width=266.48 height=359.75/>
      </div>

      <div class="searchProductB2">
        <h3>{{key.productName}}</h3>
        <p>{{key.productDescription}}</p>
        <p [ngStyle]="{'font-size': 20+'px'}">{{key.productPrice | currency:'INR':'symbol':'3.0'}}</p>
      </div>

      <div class="searchProductB3">
        <p>{{key.productId}}</p>
      </div>

      <p class="searchProductB4">{{key.productClass}}</p>

    </div>

  </div>

</section>
